.customModalHeaderStyle {
  background-color: $kimdisBarColor;

  h1,h2,h3,h4,h5,h6 {
      color: $light
  }
}

.customSectionHeaderStyle {
  background-color: $gray-900;
}

.centerModalContents {
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal (default value) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
  height: 300px; /* for demo purposes */
  border: 1px solid black; /* for demo purposes */
  background-color: #eee; /* for demo purposes */
}

.customBadgeError {
  background-color: $yellow;
  padding: 5px;
  color: $white;
  border-radius: 5px;
}

.xml-code-style {
  color: $gray-900;
  font-size: 11px;
}
/**
 * Hide the default margin left of content when sidebar enabled
 */
.content {
  @include media-breakpoint-up(md) {
    margin-left: 20px;
    margin-right: 20px;
  }
}


.navbar-brand {
  img {
    height: 65px;
  }
  margin-left: 20px;
}

.gradientBackground {
  background-image: linear-gradient(to right, RGB(68,92,100) 0%, RGB(4,127,176) 25%, RGB(124,172,60) 75%, RGB(79,98,34) 100%);
  margin: 1px;
  h5 {
    color: #fefefe
  }
}

.approveBoxStyle {
  background-color: #00ab79;
  padding: 15px;
  p, h1, h2, h3, h4, h5, h6 {
    color: #fefefe
  }
}